@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Merhaba @UserManager.GetUserName(User)!</span>
        </li>

        <li class="nav-item">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-none">
                @Html.AntiForgeryToken()
            </form>

            <button type="button" class="nav-link btn btn-link text-dark"
                    onclick="document.getElementById('logoutForm').submit();">
                Çıkış
            </button>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
        </li>
    }
</ul>
