@model FitnessCenterManagement.Models.Service

<h2>Hizmet Sil</h2>

<p>
    <strong>@Model.Name</strong> hizmetini silmek istiyor musun?
</p>

<form asp-action="Delete">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
